<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- HEAD -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>instakush</title>

    <!-- JQuerry import -->
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>

    <!-- JS import  -->
    <SCRIPT src="static/scripts/instakush.js"></SCRIPT>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Instakushlogo_v1.png') }}{{ cache_id }}" />

    <!-- **********************
	 CSS styles
	 ********************** -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.css') }}{{ cache_id }}" />
  </head>

  <!-- **********************
       BODY
       ********************** -->

  <body>

    <!-- **********************
	 HEADER
	 ********************** -->

    <header>
      <a href="/home"><img src="../..{{ url_for('static', filename='images/Instakushlogo_v1.png') }}" width="160" height="80"></a>
    </header>
    <main>
      <div class="container">

	<!-- **********************
	     FILTERS
	     ********************** -->

	<section class="filters">

	  <!-- **********************
	       STATES
	       ********************** -->

	    <button id="disp">Home</button>


	  <!-- **********************
	       SEARCH BUTTON
	       ********************** -->

	  <button id="strains">Strains</button>
	</section>
	<h1>Items</h1>
	<section class="places">

	  <!-- **********************
	       Items
	       |sort(attribute='name')
	       ********************** -->
	{% for dispensary in dispensary %}
	{% for item in item | sort(attribute='strain') %}
	  {% if dispensary.id == item.dispensary_id and item.dispensary_id == the_id  %}
	  <article>
	    <div class="title">
	      <div class="information">
		<h1>{{ item.strain }}</h1>
		<h1>&nbsp;</h1>
		</div>
		<br>
	    </div>
	    <div class ="marijuana_images">
	      <img src="../..{{ url_for('static', filename = item.img_link ) }}" width="390" height="300"/>
	      <br>
	      <br>
	    </div>
	    <div class="information">
	      <div class="max_guest">
		<i class="fa fa-spoon fa-3x" aria-hidden="true"></i>

		<br />
		Serving Size {{ item.serving_size }}s

	      </div>
	      <div class="number_rooms">
		<i class="fa fa-list fa-3x" aria-hidden="true"></i>

		<br />

		Total Inventory {{ item.stock }} grams
	      </div>
	      <div class="number_bathrooms">
		<i class="fa fa-money fa-3x" aria-hidden="true"></i>

		<br />

		Price Per 3.5g {{ item.price }}
	      </div>
	    </div>

	        <!-- **********************
		      USER
		      **********************  -->

		<div class="user"><strong>Marijuana Type: </strong>{{ item.cannabis_type }}</div>
		<div class="description">

		  {{ item.description }}

		</div>

		<button id="cart">Add to Cart</button>

	  </article> <!-- End 1 ITEM Article -->
	  {% else %}
	  {% endif %}
	  {% endfor %}
	  {% endfor %}

	</section>
      </div>
    </main>

    <!-- FOOTER -->

    <footer>
      By J&G for instakush
    </footer>
     <script>
      $("#strains").click(function () {
      location.href = "http://instakush.website/strains"
      })
      $("#disp").click(function(){
      location.href = "http://instakush.website/home"
      })
      $("#cart").click(function(){
      alert("Sorry we have not implemented this feature yet.")
      })
      </script>
  </body>
</html>
