<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- HEAD -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>instakush</title>

    <!-- JQuerry import -->
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>

    <!-- JS import  -->
    <SCRIPT src="static/scripts/instakush.js"></SCRIPT>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Instakushlogo_v1.png') }}{{ cache_id }}" />

    <!-- **********************
	 CSS styles
	 ********************** -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}{{ cache_id }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.css') }}{{ cache_id }}" />
  </head>

  <!-- **********************
       BODY
       ********************** -->

  <body>

    <!-- **********************
	 HEADER
	 ********************** -->

    <header>
      <a href="/home"><img src="../..{{ url_for('static', filename='images/Instakushlogo_v1.png') }}" width="160" height="80"></a>
    </header>
    <main>
      <div class="container">

	<!-- **********************
	     FILTERS
	     ********************** -->

	<section class="filters">

	  <!-- **********************
	       Locations
	       ********************** -->

	  <div class="locations">
	    <h3>Zip Code:</h3>
	    <form>
	      <input type="text">
	      </form>
	  </div>

	  <!-- **********************
	       SEARCH BUTTON
	       ********************** -->

	  <button>Search</button>
	</section>

	<section class="places">
	  <h1>Dispensaries</h1>

	  <!-- **********************
	       DISPENSARIES
	       ********************** -->
	  {% for dispensaries in dispensary|sort(attribute='name') %}
	  <article>

	    <div class="title">
	      
	     <a href="/dispensary/{{ dispensaries.id }}/items"><h2>{{ dispensaries.name }}</h2></a>

	    </div>
	    <div class="information">
	      <div class="max_guest">
		<i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>

		<br />

		{{ dispensaries.max_guest }} Distance

	      </div>
	      <div class="number_rooms">
		<i class="fa fa-id-card fa-3x" aria-hidden="true"></i>

		<br />

		{{ dispensaries.number_rooms }} Drivers Available
	      </div>
	      <div class="number_bathrooms">
		<i class="fa fa-bolt fa-3x" aria-hidden="true"></i>

		<br />

		{{ dispensaries.number_bathrooms }} Reviews

	      </div>
	    </div>

	        <!-- **********************
		      USER
		      **********************  -->
		<div>
                <br >
                </div>
		{% for location in location | sort(attribute='name') %}
		{% if location.name == dispensaries.name %}
		<div class ="marijuana_images">
		  <a href="/dispensary/{{ dispensaries.id }}/items"><img src="../..{{ url_for('static', filename = location.img_link ) }}" width="370" height="230"/></a>
		  <br>
		  <br>
		</div>
		{% endif %}
		{% endfor %}
		<div class="description">

		  {{ dispensaries.description }}

		</div>

	  </article> <!-- End 1 DISPENSARIES Article -->

	    {% endfor %}
	</section>
      </div>
    </main>

    <!-- FOOTER -->

    <footer>
      By J&G for instakush
    </footer>
  </body>
</html>
