@charset "UTF-8";
header {
	background-color: #FFFFFF;
	background-image: url("../images/Instakushlogo_v1.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	background-size: 10%;
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header box {
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}